*.lastbuildstate
*.tlog
*.manifest
*.obj
*.bak
*.tlog
*.unsuccessfulbuild
*.VC.db
*.sdf
*.opendb
*.idb
*.exp
*Thumbs.db
*desktop.ini
*.cache
*.TMP
.vs/

bin/
build/
Debug/
docs/output/

*memory_leaks\.txt
